<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Coral Login</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="<%= env.CORAL_AUTH_ROOT_URL %>/stylesheets/materialize.min.css" media="screen">
    <link rel="stylesheet" href="<%= env.CORAL_AUTH_ROOT_URL %>/stylesheets/style.css" media="screen">
    <link rel="stylesheet" href="<%= env.CORAL_AUTH_ROOT_URL %>/stylesheets/font-awesome.min.css" media="screen">
  </head>

  <body>

    <div class="container">

      <div class="errors">
      <% if (errors.length > 0) { %>
        <p><b>Some authentication errors occured:</b></p>
        <ul>
        <% for (var i = 0; i < errors.length; i++) { %>
          <li><%= errors[i] %></li>
        <% } %>
        </ul>
      <% } %>
      </div>

      <div class="form-signin">
        <h2 class="form-signin-heading">Coral Login</h2>
        <% if (enabled.facebook) { %><a class="btn btn-lg waves-effect waves-light fb-sign-in" href="<%= env.CORAL_AUTH_ROOT_URL %>/connect/facebook"><i class="fa fa-facebook-official" aria-hidden="true"></i> Connect with Facebook</a><% } %>
        <% if (enabled.twitter) { %><a class="btn btn-lg waves-effect waves-light twitter-sign-in" href="<%= env.CORAL_AUTH_ROOT_URL %>/connect/twitter"><i class="fa fa-twitter" aria-hidden="true"></i> Connect with Twitter</a><% } %>
        <% if (enabled.google) { %><a class="btn btn-lg waves-effect waves-light google-sign-in" href="<%= env.CORAL_AUTH_ROOT_URL %>/connect/google"><i class="fa fa-google" aria-hidden="true"></i> Connect with Google</a><% } %>

        <% if (enabled.facebook || enabled.twitter || enabled.google) { %>
          <h2 class="form-signin-heading">Or</h2>
        <% } %>

        <form method="post" action="<%= env.CORAL_AUTH_ROOT_URL %>/connect/local">
          <input type="hidden" name="_csrf" value="<%= csrfToken %>">
          <div class="input-field">
            <input type="email" id="inputEmail" name="email" class="form-control" placeholder="Email address" required autofocus>
            <label for="inputEmail" class="sr-only">Email address</label>
          </div>
          <div class="input-field">
            <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password" required>
            <label for="inputPassword" class="sr-only">Password</label>
          </div>
          <button class="btn waves-effect waves-light coral-sign-in" type="submit">Sign in</button>
        </form>
      </div>

    </div>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="<%= env.CORAL_AUTH_ROOT_URL %>/javascripts/materialize.min.js"></script>
    <script type="text/javascript">
      $(document).ready(function() {
        setTimeout(function() {
          $('.form-signin form input, .form-signin form button, .form-signin form').prop('disabled', true);
          $('.form-signin a').each(function() {
            var a = $(this);
            a.addClass('disabled');
            a.removeAttr('href');
            a.click(function(e) {
              e.preventDefault();
              return false;
            });
          });

          $('.errors').append('<p><b>Login page expired, please <a href="' + window.location.href + '">refresh</a>.</b></p>');
        }, <%= sessionExpiry %>);
      });
    </script>
  </body>
</html>
