<!-- https://3a5fdfa3.ngrok.io/?callback=https%3A%2F%2Flocalhost%3A3000%2Fcallback -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>OpenID Connect Demo</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/css/bootstrap.min.css" integrity="sha384-2hfp1SzUoho7/TsGGGDaFdsuuDL0LX2hnUp6VkX3CUQ2K4K+xjboZdsXyp4oUHZj" crossorigin="anonymous">
    <link rel="stylesheet" href="<%= env.CORAL_AUTH_ROOT_URL %>/stylesheets/style.css" media="screen">
    <link rel="stylesheet" href="<%= env.CORAL_AUTH_ROOT_URL %>/stylesheets/font-awesome.min.css" media="screen">

    <style media="screen">
      .debugger-btn { margin-bottom: 15px; }
    </style>
  </head>

  <body>

    <div class="container">

      <div class="demo" id="demo" style="display:none;">

        <h1>OpenID Connect Demo</h1>

        <p class="messages"></p>

        <button type="button" class="btn btn-lg btn-secondary btn-block" id="signin">Login with Coral</button>

        <div class="card card-block" style="display:none;margin-top:15px;" id="logged-in">
          <p id="details"></p>

          <p><b>ID Token:</b></p>
          <pre class="code" id="id_token"></pre>
          <a target="_blank" rel="nofollow" id="id_token_debugger" class="btn btn-secondary btn-xs btn-block debugger-btn">Open in JWT Debugger</a>

          <p><b>Access Token:</b></p>
          <pre class="code" id="access_token"></pre>
          <a target="_blank" rel="nofollow" id="access_token_debugger" class="btn btn-secondary btn-xs btn-block debugger-btn">Open in JWT Debugger</a>

          <button type="button" class="btn btn-danger btn-block" id="signout">Logout</button>
        </div>

        <button type="button" class="btn btn-link btn-block btn-sm" id="reset">reset</button>
      </div>

    </div>

    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="<%= env.CORAL_AUTH_ROOT_URL %>/javascripts/oidc-client.js" charset="utf-8"></script>
    <script src="<%= env.CORAL_AUTH_ROOT_URL %>/javascripts/jwt-decode.min.js" charset="utf-8"></script>
    <script type="text/javascript">
      document.addEventListener("DOMContentLoaded", function(event) {
        ///////////////////////////////
        // UI event handlers
        ///////////////////////////////
        var demoDOM = document.getElementById('demo');
        var loggedInDOM = document.getElementById('logged-in');
        var signInDOM = document.getElementById('signin');
        var resetDOM = document.getElementById('reset');

        var idTokenDOM = document.getElementById('id_token');
        var idTokenDebuggerDOM = document.getElementById('id_token_debugger');
        var accessTokenDOM = document.getElementById('access_token');
        var accessTokenDebuggerDOM = document.getElementById('access_token_debugger');

        var clearDOM = document.getElementById('clear');
        var detailsDOM = document.getElementById('details');
        var signOutDOM = document.getElementById('signout');

        ///////////////////////////////
        // OidcClient config
        ///////////////////////////////
        Oidc.Log.logger = console;
        Oidc.Log.level = Oidc.Log.INFO;

        var settings = {
          client_id: 'js.tokenmanager',
          authority: '<%= env.CORAL_AUTH_ROOT_URL %>/connect',
          redirect_uri: '<%= env.CORAL_AUTH_ROOT_URL %>/demo',
          response_type: 'id_token token',
          scope: 'openid',
          loadUserInfo: true,
          monitorSession: false
        };
        var manager = new Oidc.UserManager(settings);

        function processSigninResponse() {
          new Oidc.UserManager().signinPopupCallback();
        }

        if (window.location.href.indexOf("#") >= 0) {
          processSigninResponse();
          return;
        }

        function reset() {
          manager.clearStaleState().then(function(){
            console.log("clearStateState success");
          }).catch(function(e){
            console.error("clearStateState error", e.message);
          });
        }

        resetDOM.addEventListener("click", reset, false);

        function signin() {
          manager.signinPopup().then(function(user) {

          }).catch(function(err) {
            $('.messages').text('Login Failed');
          });
        }

        signInDOM.addEventListener("click", signin, false);

        function signout() {
          manager.removeUser().then(function() {
            console.log("user removed");
          }).catch(function(err) {
            console.error(err);
          });
        }

        signOutDOM.addEventListener("click", signout, false);

        function loadUser(user) {
          signInDOM.innerText = 'Logged In';
          signInDOM.disabled = true;

          idTokenDOM.innerText = user.id_token;
          idTokenDebuggerDOM.href = 'https://jwt.io/#debugger?&id_token=' + user.id_token;

          accessTokenDOM.innerText = user.access_token;
          accessTokenDebuggerDOM.href = 'https://jwt.io/#debugger?&id_token=' + user.access_token;

          detailsDOM.innerHTML = 'Hello User <b>' + user.profile.sub + '</b>!';

          loggedInDOM.style.display = 'block';
        }

        function unloadUser() {
          signInDOM.innerText = 'Login with Coral';
          signInDOM.disabled = false;

          loggedInDOM.style.display = 'none';
        }

        manager.events.addUserLoaded(function(user) {
          manager.getUser().then(loadUser);
        });

        manager.events.addUserUnloaded(function(e) {
          unloadUser();
        });

        demoDOM.style.display = 'block';
      });
    </script>
  </body>
</html>
